body{
    background-color: #09080d;
}

h3 {
    color: rgb(255, 255, 255);
  }

  h3::selection {
    color: rgb(255, 255, 255);
  }

  a {
    color: rgb(98, 0, 255);
  }

  a::selection {
    color: rgb(154, 92, 255);
  }

  textarea {
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: rgb(98, 0, 255);
  }

  textarea::selection {
    border-radius: 20px;
    border-color: rgb(0, 0, 0);
    color: rgb(154, 92, 255);
  }

/* width */
::-webkit-scrollbar {
    width: 0px;
  }

  ::-webkit-resizer {
    background-size: 0px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #09080d00;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9b5cff00;
    border-radius: 20px
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #9b5cff00;
  }

  input {
    border-radius: 100px;
    border-color: rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0);
  }

::selection {
    color: rgb(154, 92, 255);
}